doctype html
html(lang='es')
    head
        meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        title Title
        script(src='../../jspm_packages/system.js')
        script(src='../../config.js')
    body
        main.mod-viewer(data-hz-app)
            div(data-hz-pages)
        script.
            SystemJS.import("./index.js");
