# Created by .ignore support plugin (hsz.mobi)
.editorconfig
.jshintrc
.travis.yml
.babelrc
.idea/
.vscode/
test/
coverage/
.git/
**/templates/*.js
!**/templates/haztivitycli.config.js
node_modules
.gitattributes
tsconfig.json
docs/