//********************************************
//* Project: <%= courseName %>
//* File: _viewer
//* Description:
//*********************************************
/* _viewer */
.mod-viewer {
    height: em(630);
    width: em(950);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    opacity: 0.9;
}

/* End _viewer */